<main class="p-4">
  <div class="mb-5">
    <%= link_to '新規作成', new_tweet_path %>
  </div>

  <div id="tweets">
    <% @tweets.each do |tweet| %>
      <div class="m-2">
        <div><%= Tweet.human_attribute_name(:title) %></div>
        <div><%= tweet.title %></div>
        <div><%= Tweet.human_attribute_name(:text) %></div>
        <div class="textarea"><%= tweet.text %></div>
        <% if tweet.tweet_tags.present? %>
          <div><%= TweetTag.model_name.human %></div>
        <% end %>
        <% tweet.tweet_tags.each do |tag| %>
          <div><%= "##{tag.name}" %></div>
        <% end %>

        <div><%= TweetImage.model_name.human %></div>
        <div>
          <%= image_tag tweet.tweet_image.storage_file, class: 'tweet-image' if tweet.attached? %>
        </div>

        <div><%= link_to '編集', edit_tweet_path(tweet) %></div>
      </div>
    <% end %>
  </div>
</main>

<% breadcrumb :tweet_index %>
<%= render 'shared/breadcrumb' %>
