<%= form_with model: @comic, local: true do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author %>
  </div>
  <div>
    <% @genres.each do |genre| %>
      <%= fields_for 'genres[]', genre do |ff| %>
        <%= ff.label :name %>
        <%= ff.text_field :name %>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= f.submit '更新する' %>
  </div>
<% end %>
