<p style="color: green"><%= notice %></p>

<%= render @area %>

<div>
  <h3><%= Food.model_name.human %></h3>
  <% @area.foods.each do |food| %>
    <div>
      <%= "#{Food.human_attribute_name(:name)}：#{food.name}" %>
    </div>
    <div>
      <%= "#{Food.human_attribute_name(:price)}：#{food.price.to_formatted_s(:delimited)}円" %>
    </div>
    <div>
      <%= "#{Tag.human_attribute_name(:name)}" %>
    </div>
    <div>
      <%= food.tags.pluck(:name).map { |tag_name| "##{tag_name}" }.join('、') %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Edit this area", edit_area_path(@area) %> |
  <%= link_to "Back to areas", areas_path %> |
  <%= link_to '食品登録', new_area_foods_path(@area) if @area.foods.blank? %>
  <%= link_to '食品編集', edit_area_foods_path(@area) if @area.foods.present? %>

  <%= button_to "Destroy this area", @area, method: :delete %>
</div>

<% breadcrumb :area_show, @area %>
<%= render 'shared/breadcrumb' %>
