<div>
  <%= link_to "郵便番号API利用", api_postal_code_search_search_path %>
</div>
<div>
  <%= link_to '漫画一覧ページ', comics_path %>
</div>
<div>
  <%= link_to 'google map', google_map_posts_path %>
</div>
<div>
  <%= link_to 'ツイート', tweets_path %>
</div>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= render partial: 'slider_posts' %>

<div id="sortable" style="width: 80vw; margin: 0 auto;" data-sort-url="<%= sort_posts_path %>">
  <% @posts.each do |post| %>
    <div class="d-flex align-items-center">
      <i class="bi bi-grid-3x2-gap me-3 sort-handle"></i>
      <div>
        <p><%= post.title %></p>
        <p style="overflow-wrap: break-word;"><%= post.text %></p>
      </div>
    </div>
  <% end %>
</div>

<style>
  .sort-handle {
    cursor: grab;
  }
  .sort-handle:active {
    cursor: grabbing;
  }
</style>
