<div>
  <%= link_to "郵便番号API利用", api_postal_code_search_search_path %>
</div>
<div>
  <%= link_to '漫画一覧ページ', comics_path %>
</div>
<div>
  <%= link_to 'google map', google_map_posts_path %>
</div>
<button onclick="notifyMe()">Notify me!</button>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= render partial: 'slider_posts' %>

<% @posts.each do |post| %>
  <div>
    <p><%= post.title %></p>
    <p><%= post.text %></p>
  </div>
<% end %>

<script>
  function notifyMe() {
    // ブラウザーが通知に対応しているかどうかをチェックしましょう
    if (!("Notification" in window)) {
      alert("このブラウザーはデスクトップ通知に対応していません。");
    }

    // 通知の許可が既に得られているかどうかをチェックしましょう
    else if (Notification.permission === "granted") {
      // If it's okay let's create a notification
      let notification = new Notification("こんにちは！");
    }

    // そうでなければ、ユーザーに許可を求める必要があります
    else if (Notification.permission !== "denied") {
      Notification.requestPermission().then(function (permission) {
        // ユーザーが許可したら、通知を作成しましょう
        if (permission === "granted") {
          let notification = new Notification("こんにちは！");
        }
      });
    }

    // 最後に、ユーザーが通知を拒否していて、あなたが敬意を
    // 払いたい場合は、これ以上相手を煩わせることはありません。
  }
</script>
