<% content_for :css do %>
  <%= stylesheet_link_tag slick_css_url %>
  <%= stylesheet_link_tag slick_theme_css_url %>
  <%= stylesheet_link_tag bootstrap_icons_css_url %>
<% end %>
<% content_for :javascript do %>
  <%= javascript_include_tag bootstrap_javascript_url %>
<% end %>

<div>
  <%= link_to "郵便番号API利用", api_postal_code_search_search_path %>
</div>
<div>
  <%= link_to '漫画一覧ページ', comics_path %>
</div>
<div>
  <%= link_to 'google map', google_map_posts_path %>
</div>
<div>
  <%= link_to 'ツイート', tweets_path %>
</div>
<div>
  <%= link_to '地域', areas_path %>
</div>
<div>
  <%= link_to 'サンプルメール送信(非同期)', send_sample_mail_posts_path %>
</div>
<div>
  <%= link_to 'サンプルメール送信(同期)', send_now_sample_mail_posts_path %>
</div>
<div>
  <%= link_to 'csvダウンロード', csv_export_posts_path(format: :csv) %>
</div>
<div>
  <%= link_to 'zipダウンロード', zip_export_posts_path(format: :zip) %>
</div>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<%= render partial: 'slider_posts' %>

<h1><%= Post.model_name.human %></h1>
<div id="sortable" style="width: 80vw; margin: 0 auto;" data-sort-url="<%= sort_posts_path %>">
  <% @posts.each do |post| %>
    <div class="d-flex align-items-center">
      <i class="bi bi-grid-3x2-gap me-3 sort-handle"></i>
      <div>
        <p><%= "#{Post.human_attribute_name(:title)}: #{post.title}" %></p>
        <p><%= Post.human_attribute_name(:text) %></p>
        <p style="overflow-wrap: break-word;"><%= post.text %></p>
        <p><%= "#{Post.human_attribute_name(:created_at)}: #{l(post.created_at)}" %></p>
      </div>
    </div>
  <% end %>
</div>

<style>
  .sort-handle {
    cursor: grab;
  }
  .sort-handle:active {
    cursor: grabbing;
  }
</style>
